
lightness_difference(color1, color2)
    l1 = lightness(color1)
    l2 = lightness(color2)
    return abs(l1 - l2)


invert_font_color(font_color)
    light = lightness(font_color)
    
    if light > 0.5
        light = 0.3
    else
        light = 0.7
    
    return lightness(font_color, light)


highest_lightness_difference(ref_color, color1, color2)
    r1 = lightness_difference(ref_color, color1)
    r2 = lightness_difference(ref_color, color2)
    if r1 > r2
        return color1
    else
        return color2


make_font_color_for_background(bg_color, font_color_regular, bg_color_regular)
    threshold = lightness_difference(font_color_regular, bg_color_regular)
    
    fg_color = font_color_regular
    
    bg_light = lightness(bg_color)
    fg_light = lightness(fg_color)
    
    if abs(bg_light - fg_light) < threshold
        if bg_light < threshold
            fg_light = bg_light + threshold
        else
            fg_light = bg_light - threshold
    
    return lightness(fg_color, fg_light)


hover_effect()
    filter: brightness(1.1)


content_width = 40rem


light_theme()
    bg_color_regular = #fff
    font_color_regular = #000
    accent_color = #a34da3
    
    --bg_color_regular: bg_color_regular
    --font_color_regular: font_color_regular
    --accent_color: accent_color
    
    increments = 10%
    
    --textbox_bg: darken(bg_color_regular, 2*increments)
    --button_bg: darken(bg_color_regular, increments)
    
    --placeholder_fg: #444
    --less_important_fg: #333
    --code_color: #572857
    
    --info_bg: #506977
    --info_fg: var(--font_color_regular)
    
    --border_color: var(--accent_color)

    --accent_font_color: make_font_color_for_background(accent_color, font_color_regular, bg_color_regular)


dark_theme()
    bg_color_regular = #252525
    font_color_regular = #ccc
    accent_color = #a34da3
    
    --bg_color_regular: bg_color_regular
    --font_color_regular: font_color_regular
    --accent_color: accent_color
    
    increments = 10%
    
    --textbox_bg: darken(bg_color_regular, increments)
    --button_bg: lighten(bg_color_regular, 2*increments)
    
    --placeholder_fg: #aaa
    --less_important_fg: darken(font_color_regular, increments)
    --code_color: mix(font_color_regular, accent_color, 75%)
    
    --info_bg: #506977
    --info_fg: var(--font_color_regular)
    
    --border_color: var(--accent_color)

    --accent_font_color: make_font_color_for_background(accent_color, font_color_regular, bg_color_regular)


/* ===================================
 * === END OF VAR/FUNC DEFINITIONS ===
 * ===================================
 */

// === COLOR THEME ===

body
body.light-theme
    light_theme()

body.dark-theme
    dark_theme()

@media (prefers-color-scheme: dark)
    body
        dark_theme()

// === DESIGN ===

html
    font-family: Verdana
    font-size: 1.1em

body
    background-color: var(--bg_color_regular)
    color: var(--font_color_regular)

a
    &
    & code
        color: var(--accent_color)
        
        &:hover
        &:focus
            color: var(--accent_color)
            hover_effect()

details > summary
    background: var(--accent_color)
    color: var(--accent_font_color)
    padding: 0 0.2em

button
input[type="submit"]
    background: var(--button_bg);
    color: var(--font_color_regular);
    
    border-radius: 3px;
    border: 1px solid var(--accent_color);
    
    &:hover
        hover_effect()

input[type="text"]
textarea
select
    background: var(--textbox_bg) !important
    border: 1px solid var(--accent_color) !important
    color: var(--less_important_fg) !important

input[type="text"]:focus
textarea:focus 
select:focus
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 196, 196, 0.4)

::-webkit-input-placeholder
:-moz-placeholder
::-moz-placeholder
:-ms-input-placeholder
    color: var(--placeholder_fg)

blockquote 
    border-left: 5px solid var(--button_bg)
    
blockquote.epigraph
    p:first-child
        &::before
            content: '"'
        &::after
            content: '"'
    
    .attribution
        color: var(--less_important_fg)
        font-style: italic


code
    color: var(--code_color)
    
    font-size: 1rem


// pygments' light themes usually don't specify a font color, so if the
// site uses a dark theme, the code becomes unreadable. To solve this
// problem, we'll simply set a default font color.
div.highlight
    color: #000


pre 
    border: 1px solid var(--border_color)
    padding: 0.5em
    
    overflow: auto
    
    font-size: 0.9rem


// make inline code the same size as all other text
h1
    &
    code
        font-size: 2rem

h2
    &
    code
        font-size: 1.6rem

h3
    &
    code
        font-size: 1.3rem

// === SITE LAYOUT ===

// If there's enough space, the content will be centered
// and the navigation will be on the left
default_layout_width = content_width + 7rem

@media (min-width: default_layout_width)
    body
        display: grid
        grid-template-columns: 1fr auto 1fr
        grid-column-gap: 2em
        
    #sidebar
        grid-row: 1 / 3
        grid-column: 1

    .document
        grid-row: 1
        grid-column: 2

        max-width: content_width
        margin: auto

    #bottomnav
        grid-row: 2
        grid-column: 2
        
        max-width: content_width

    #sidebar
        #sidebar-content
            position: sticky
            top: 1.5em
            
            float: right

// If there isn't enough space for the default layout,
// the navigation is moved to the top
@media not all and (min-width: default_layout_width)
    body
        display: grid
        grid-template-columns: auto

    #sidebar
        grid-row: 1
        grid-column: 1
    
    .document
        grid-row: 2
        grid-column: 1
    
    #bottomnav
        grid-row: 3
        grid-column: 1
    
    #sidebar
        #sidebar-content
            float: left

            a.homepage-link
                top: 1.5em


#bottomnav
    margin-top: 3em
    margin-bottom: 5em

    display: grid
    grid-template-columns: 1fr auto 1fr
    grid-column-gap: 40px
    
    align-items: baseline
    
    a.prev-link
        grid-row: 1
        grid-column: 1
        
        justify-self: start
    
    a.homepage-link
        grid-row: 1
        grid-column: 2
        
        justify-self: start
    
    a.next-link
        grid-row: 1
        grid-column: 3
        
        justify-self: end
        text-align: right

// === END OF SITE LAYOUT ===

// theme switcher

#theme-switcher
    margin-top: 1.5em
    
#syntax-themes-container
    margin-top: 0.5em

#theme-switcher
    theme_button_size = 1.6rem
    
    .themes-container
        display: grid
        grid-column-gap: 0.3em
        grid-auto-flow: column
        justify-content: start
        
        .theme-button
            background: unset
            border: 1px solid var(--border_color)
            border-radius: 5px
            
            width: theme_button_size
            height: @width
            
            font-size: 1rem
            padding: 0
            
            // The hover_effect changes how the ::before-element's position
            // is calculated, so to prevent it from jumping around we need
            // to apply a filter even when the user isn't hovering over the
            // button
            filter: brightness(1)
            
            &:hover
                hover_effect()

    // display little arrows above/below the currently active themes
    arrow_height = 5px
    arrow_width = 8px
    arrow_color = var(--font_color_regular)
    arrow_y_offset = -8px
    
    #site-themes-container .active::before
        content: ""
        
        position: absolute
        top: arrow_y_offset
        left: "calc(%s / 2 - %s)" % (theme_button_size arrow_width)
        
        width: 0
        height: 0
        border-left: arrow_width solid transparent
        border-right: arrow_width solid transparent
        border-top: arrow_height solid arrow_color
    
    
    #syntax-themes-container .active::before
        content: ""
        
        position: absolute
        bottom: arrow_y_offset
        left: "calc(%s / 2 - %s)" % (theme_button_size arrow_width)
        
        width: 0
        height: 0
        border-left: arrow_width solid transparent
        border-right: arrow_width solid transparent
        border-bottom: arrow_height solid arrow_color
    

// reduce spacing between list items
li
    p:first-child
        margin-top: 0
    
    p:last-child
        margin-bottom: 0

li + li
.toctree-wrapper + ul
    margin-top: 0.3em


// increase spacing between lines
.body p
    line-height: 1.3em


// section permalinks
.toctree-wrapper a.headerlink
    display: none


// blockquotes
blockquote
    padding-left: 0.5em


// notes, warnings, etc
admonition(color)
    border-color: color
    background: alpha(color, 20%)

.admonition
    border: thin solid
    padding: 0.5em
    
    .admonition-title
        margin-top: 0
        
        &::after
            content: ":"
        
        display: inline
        & + p
            display: inline
    
    & *:last-child
        margin-bottom: 0
    
    &.note
        admonition(#62629b)


// rubrics, usually used for footnotes
.rubric
    font-size: 1.3em
    margin-top: 2em


// footnote markers
.footnote-reference
    font-size: 0.6em
    text-align: start
    vertical-align: super
    

// footnote listing
dl.footnote
    display: grid
    grid-template-columns: max-content auto
    
    dt
        grid-column: 1
    
    
    dd
        grid-column: 2
        
        margin-left: 1em
        
        p
            margin-top: 0


// section headings
h1
    a.headerlink
        display: none

h2
h3
h4
h5
    a.headerlink
        margin-left: 0.3em
        text-decoration: none

    &:not(:hover)
        a.headerlink
            display: none

h1
    margin-bottom: 1.5em


// navigation links
a.homepage-link
a.prev-link
a.next-link
    text-decoration: none
    
    display: grid
    grid-column-gap: 0.2em
    
    span
        text-decoration: underline

a.homepage-link
    &::before
        content: "⌂"
        grid-column: 1
    
    span
        grid-column: 2

a.prev-link
    &::before
        content: "◁"
        grid-column: 1
    
    span
        grid-column: 2

a.next-link
    &::after
        content: "▷"
        grid-column: 2
    
    span
        grid-column: 1
